<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registrarse | Web Chat</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/register.css" />
</head>
<body class="register-body">

  <main>
    <form>
      <h2 class="text-center mb-4">👋 ¡Bienvenido!</h2>
      <h2 class="text-center mb-4">ChatAG</h2>
      <div class="input-group">
        <label for="username">¿Cómo te llamas?</label>
        <input type="text" id="username" placeholder="Escribe tu nombre...">
      </div>
      <div class="button-container">
        <button type="button" class="btn primary" id="login">Entrar al chat</button>
      </div>
    </form>
  </main>

  <script src="/js/register.js"></script>
</body>
</html>
